<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
        table {
            margin: 10px;
        }
    </style>
</head>
<body>
    <div layout:fragment="content">
        <form name="uploadingForm" enctype="multipart/form-data" action="/" method="POST">
            <p>
                <input id="fileInput" type="file" name="uploadingFiles" multiple="multiple"/>
            </p>
            <p>
                <input type="submit" value="Upload files"/>
            </p>
        </form>

        <div th:if="${dividedWords != null}" >
            <table th:each="wordsInOneRange : ${dividedWords.entrySet()}">
                <th th:text="${wordsInOneRange.key}"></th>
                <th>count</th>
                 <tr th:each="wordToQuantity : ${wordsInOneRange.value.entrySet()}">
                    <td th:text="${wordToQuantity.key}"></td>
                    <td th:text="${wordToQuantity.value}"></td>
                 </tr>
            </table>
        </div>
    </div>
</body>
</html>